# Allow-listing gitignore template for Dart projects

# Ignore everything
*

# But not these files...
!/.gitignore
!LICENSE
!.cspell.json
!/START_HERE

# Dart source files
!*.dart

# Markdown files
!*.md

# Dart module files
!analysis_options.yaml
!pubspec.yaml

# GitHub metadata
!.github/*.yml

# ...even if they are in subdirectories.
!*/
